<div class="dialog">
    <h3>Edit group</h3>
    <h6>{{ error }}</h6>
    <md-input-container>
        <label>Group name</label>
        <input ng-model="groupName">
    </md-input-container>
    <md-button ng-click="editGroup()">Save</md-button>
    <md-button ng-click="close()">Close</md-button>
</div>