<div class="dialog">
    <h3>Add new group</h3>
    <h6>{{ error }}</h6>
    <md-input-container>
        <label>Enter group</label>
        <input ng-model="groupName">
    </md-input-container>
    <md-button ng-click="addGroup()">Add group</md-button>
    <md-button ng-click="close()">Close</md-button>
</div>