<div class="dialog">
    <h3>Add new user</h3>
    <h6>{{ error }}</h6>
    <md-input-container>
        <label>Enter name</label>
        <input ng-model="name">
    </md-input-container>
    <md-input-container>
        <label>Choose group</label>
        <md-select ng-model="group">
            <md-option ng-if="groups.length < 1"><em>Add group first</em></md-option>
            <md-option ng-repeat="group in groups" ng-value="group.id">
                {{group.name}}
            </md-option>
        </md-select>
    </md-input-container>
    <md-button ng-click="addUser()">Add user</md-button>
    <md-button ng-click="close()">Close</md-button>
</div>