<div class="dialog">
    <h3>Edit user</h3>
    <h6>{{ error }}</h6>
    <md-input-container>
        <label>Name</label>
        <input ng-model="name">
    </md-input-container>
    <md-input-container>
        <label>Group</label>
        <md-select ng-model="group">
            <md-option ng-if="groups.length < 1"><em>Add group first</em></md-option>
            <md-option ng-repeat="group in groups" ng-value="group.id">
                {{group.name}}
            </md-option>
        </md-select>
    </md-input-container>
    <md-button ng-click="editUser()">Save</md-button>
    <md-button ng-click="close()">Close</md-button>
</div>